body {
    display: flex;
    justify-content: center;
}

#app {
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.max-width {
    width: 100%;
}

.flex {
    display: flex;
}