body {
    display: flex;
    justify-content: center;
}

#app {
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.max-width {
    width: 100%;
}

.flex {
    display: flex;
}

::v-deep {
    .b-sidebar .sidebar-content {
      width: 330px;
      padding: 15px;
    }
  }